TELEGRAM_BOT_TOKEN=EXAMPLE
JWT_SECRET=your_jwt_secret
DB_CONNECT_DSN="user=root dbname=defaultdb sslmode=disable port=26257"
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
CORS_ORIGIN=http://localhost:3000
SUMMARIZE_URL=http://leave-doing.gl.at.ply.gg:31585/sum
REPLY_IDEAS_URL=http://leave-doing.gl.at.ply.gg:31585/ans
VK_CLIENT_ID=123
VK_CLIENT_SECRET=secret
VK_REDIRECT_URL=http://localhost:80/api/user/vk/callback
VK_FRONTEND_SUCCESS_REDIRECT_URL=http://localhost:3000/teams
VK_FRONTEND_ERROR_REDIRECT_URL=http://localhost:3000/login
